<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
  
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' >
  
  	<!--  CONSOLE appender  -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
		 	<param name="ConversionPattern"  
		  		value="[%-5p]: %c - %m%n" />
		</layout>
	</appender>
	
	<!-- logstash appender -->
    <!-- <appender name="LOGSTASH" class="org.apache.log4j.net.SocketAppender">
        <param name="RemoteHost" value="localhost"/>
        <param name="Port" value="8052"/>
    </appender> -->
	
	<!-- Spring Logger -->  
	<logger name="log4j.logger.org.springframework">  
        <level value="WARN" />  
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <!-- throwableRenderer <throwableRenderer class="org.apache.log4j.EnhancedThrowableRenderer"/>--> 
	
    <!-- Root Logger -->  
	<root>
		<priority value ="warn"/>
		<appender-ref ref="CONSOLE"/>
		<!-- <appender-ref ref="LOGSTASH"/> -->
	</root>
</log4j:configuration>